# Eclipse
.metadata
.recommenders
.classpath
.project
.settings
.factorypath
.checkstyle
.externalToolBuilders

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

.intellijPlatform/

# Gradle
.gradle/
build/

# Misc.
.DS_Store
