name: CI

on: [push, pull_request]

jobs:
  test_idea:
    strategy:
      fail-fast: false
      matrix:
        version:
          - { jdk: 11, idea: 2022.1 }
          - { jdk: 17, idea: 2022.2 }
          - { jdk: 17, idea: 2022.3 }
          - { jdk: 17, idea: 2023.1 }
          - { jdk: 17, idea: 2023.2 }
          - { jdk: 17, idea: 2023.3 }
          - { jdk: 17, idea: 2024.1 }
          - { jdk: 17, idea: LATEST-EAP-SNAPSHOT }
    name: 'IDEA ${{ matrix.version.idea }}'
    env:
      IDEA_VERSION: ${{ matrix.version.idea }}
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Set up JDK'
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.version.jdk }}
      - name: 'Test'
        run: ./gradlew --warning-mode=all build
      - name: 'Generate coverage report'
        run: ./gradlew --warning-mode=all jacocoTestReport
      - name: 'Upload coverage to Codecov'
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
