name: CI

on: [push, pull_request]

jobs:
  test_idea:
    strategy:
      fail-fast: false
      matrix:
        version:
          - { jdk: 21, idea: 2024.2 }
          - { jdk: 21, idea: 2024.3 }
          - { jdk: 21, idea: 2025.1 }
          - { jdk: 21, idea: 2025.2 }
          - { jdk: 21, idea: 2025.3 }
          - { jdk: 21, idea: LATEST-EAP-SNAPSHOT }
    name: 'IDEA ${{ matrix.version.idea }}'
    env:
      IDEA_VERSION: ${{ matrix.version.idea }}
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.version.jdk }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: 'Test'
        run: ./gradlew --warning-mode=all build
      - name: 'Generate coverage report'
        run: ./gradlew --warning-mode=all jacocoTestReport
      - name: 'Upload coverage to Codecov'
        if: github.repository == 'mapstruct/mapstruct-idea' &&  matrix.version.idea  == '2024.2'
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
